2021/Day15/MinValueStrings.csv
2021/Day15/RiskStrings.csv
2021/Day15/Route.csv
2021/Day15/Aki-Part1-Data.xlsx
2021/Day15/Aki-Part2-Data.xlsx
2021/Day15/DataAki.txt
MinValueStrings.csv
RiskStrings.csv
Route.csv
